{
  "presets": ["next/babel"],
  "plugins": [],
  "env": {
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {"targets": {"node": "current"} }
          }
        ]
      ]
    }
  }
}
